@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

:root {
  --red: #f23e36;
  --white: #ffffff;
  --black: black;
}
.redbg {
  background-color: var(--red);
  color: var(--white);
}

/* logo */
#companylogo img {
  width: 8rem;
  height: 3rem;
  padding: 1px;
  margin-left: 1px;
}
#coursesbutton {
  display: flex;
  border: none;
  text-align: center;
}
#coursesbutton button {
  padding-bottom: 0.3rem;
}
#coursesbutton span {
  display: flex;
  flex-direction: start;
  float: right;
  font-size: 20px;
  margin-left: 0.5rem;
  padding-top: 1px;
}
/* searchbar */
#searchbar{
  width:40%;
  margin-left: 1rem;
  border-radius: 3px;
}
#searchbar button{
  background-color:lightgray;
  color:var(--black);
  border:none;
}
#searchbar button:hover{
  background-color:var(--red);
  color:var(--white);
  border:none;
}
#searchbar .material-icons{
  font-size:20px;
  padding: 5px;  
}
#links li a{
  color: var(--black);
}
#links li :hover{
  color:var(--red);
}
#wishlisticon span{
  font-size: 20px;
  padding-top: 0.3rem;
}
#wishlisticon span:hover
{
  color: var(--red);
}
#startlearningbutton button{
border:none;
padding:0.5rem;
}
#sb-toggle {
  font-size: 14px;
}
/* Smartphones ----------- */
@media only screen and (min-device-width: 200px) and (max-device-width: 500px) {
  #coursesbutton {
    display:none;
  }
  #startlearningbutton button{
    display:none;
  }
  .offcanvas-collapse {
    position: fixed;
    visibility: hidden;
  }
  #sb-toggle{
    margin-bottom: 0.5rem;
    margin-left: 0.2rem;
  
  }
  
  #searchbar{
    width: 100%;
    display:flex;
    padding:1px;
   padding-bottom: 0.5rem;
   margin-top: -0.5rem;
  }
  #searchbar input{
    margin-left:-1rem; 
  }
  #companylogo img{
  margin-left:-8rem;
  margin-bottom: 0.5rem;
  padding:1px,1px,1px,1px;
  }
  #wishlisticon span
  {
    display: none;
  }
  #mobilewishlisticon span
  {
    font-size: 20px;
    margin-bottom:0.7rem;
    margin-right: 0.2rem;
    padding: 1px;
  }
  #mobilewishlisticon span:hover
  {
    color:var(--red);
  }

}

/* iPads ----------- */
@media only screen and (min-device-width: 501px) and (max-device-width: 1024px) {
}

/* Desktops and laptops ----------- */
@media only screen and (min-device-width: 1025px) {
  /* all site heading */
  #mobilewishlisticon
  {
    display: none;
  }
}
